__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
.env
venv/
ENV/
env.bak/
venv.bak/
.mypy_cache/
.pytest_cache/
db.sqlite3

staticfiles/
media/

node_modules/
build/
dist/
*.log
.npm/
.cache/
.yarn/
.vite/
.env.local
.env.development.local
.env.test.local
.env.production.local

.vscode/
.idea/
*.swp

.DS_Store
Thumbs.db
