
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.mypy_cache/
.pytest_cache/


*.sqlite3
db.sqlite3
staticfiles/
*.log


**/migrations/
!**/migrations/__init__.py


.env
.env.*
venv/
ENV/
env.bak/
venv.bak/
.venv/


node_modules/
dist/
build/
.cache/
.vite/
.yarn/
.npm/


.DS_Store
Thumbs.db
*.swp


.vscode/
.idea/


dbeaver-ce_latest_amd64.deb
